
<%- include('../partials/header') %>
<body class="d-flex flex-column  vh-100" style=" overflow-x: hidden;">
   
<%- include('../partials/navbar') %>


<div  style="margin-top: 70px">
   <%- include('../partials/flashAlerts') %>
    <%- body -%>
</div>
 

 

 <%- include('../partials/fotter') %>